/* Image Center Alignment */
article img {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* ShareThis Buttons */
#share-this {
  margin: 40px 0 40px 0;
}

/* Pagination */
nav.pagination {
  text-align: center;
}
nav.pagination li {
  display: inline;
}
nav.pagination li.previous {
  padding: 0 50px 0 0;
}
nav.pagination li.next {
  padding: 0 0 0 50px;
}
nav.pagination a {
  color: #29abe2;
}
