{{ partial "header.html" . }}

  <nav class="pagination">
    <ul>
    {{ if .NextInSection }}
      <li class="previous">&larr; <a href="{{ .NextInSection.Permalink }}" rel="prev">Prev</a></span>
    {{ end }}
      <li class="center-text"><a href="..">Table Of Contents</a></span>
    {{ if .PrevInSection }}
      <li class="next"><a href="{{ .PrevInSection.Permalink }}" rel="next">Next</a> &rarr;</span>
    {{ end }}
    </ul>
  </nav>

  <!-- Main Section Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <main id="single" role="main">
    <div class="article-header">
      <h1>{{ .Title }}</h1>
      <div class="meta">
        {{ .Date.Format "Jan 2, 2006" }} &nbsp;
        {{ range .Params.tags }}
          #<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
    </div>
    <article>
      {{ .Content }}
      
      <!-- ShareThis Buttons
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </article>
    {{ partial "disqus.html" . }}
  </main>
  
  <nav class="pagination">
    <ul>
    {{ if .NextInSection }}
      <li class="previous">&larr; <a href="{{ .NextInSection.Permalink }}" rel="prev">Prev</a></span>
    {{ end }}
      <li class="center-text"><a href="..">Table Of Contents</a></span>
    {{ if .PrevInSection }}
      <li class="next"><a href="{{ .PrevInSection.Permalink }}" rel="next">Next</a> &rarr;</span>
    {{ end }}
    </ul>
  </nav>

{{ partial "footer.html" . }}
